* {
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* parameters for the header section */
}
.logo_place_header {
  position: absolute;
  z-index: 2;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
}
.header__title {
  margin-left: 64px;
  z-index: 2;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
}
.header__link {
  text-decoration-line: none;
  color: #2f80ed;
}
.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
.description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.two-columns__paragraph:nth-of-type(3) {
  margin-bottom: 0;
}
span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
}
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
}
.cell-margin {
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman {
  position: relative;
  height: 790px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feynman-article {
  position: absolute;
  width: 775px;
  display: flex;
  flex-direction: column;
  text-align-last: center;
}
.feynman__title {
  margin-top: 100px;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}
.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  height: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  color: #2f80ed;
  bottom: 0;
}
.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}
.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}
.section-title_theme_dark {
  width: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
  color: white;
  z-index: 1;
}
.section-subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  color: white;
  z-index: 1;
}
.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
  z-index: 1;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style: none;
}
.kaufman__triangle {
  position: absolute;
  right: -124px;
}
.footer {
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}
.footer__columns {
  position: relative;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.logo_place_footer {
  display: flexbox;
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  color: #ffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__columns_content_about {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  color: #ffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer__column-link {
  display: flex;
  color: #ffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.footer__columns_content_social {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer__social-icons {
  display: flex;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  margin-right: 10px;
}
